<div id="list-form">
    <mat-card>
        <mat-card-header>
            <mat-card-title><h3>{{title}}</h3></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="listForm" *ngIf="listForm">
                <mat-form-field class="example-full-width">
                    <mat-label>List Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </form>
            <br>
            <app-task *ngIf="listId" [list]="list"></app-task>
            <div class="button-content">
                <button mat-raised-button (click)="addList()">Save</button>
                <button mat-raised-button (click)="close()">Cancel</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

