<div id="login-content">
    <mat-card>
        <mat-card-header>
            <mat-card-title><h3>Login</h3></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" *ngIf="loginForm">
                <mat-form-field class="example-full-width">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput  type="password" formControlName="password">
                </mat-form-field>
                <br>
                <button mat-raised-button (click)="login()">Login</button>
                <br>
                <p>
                    <label class="login-error" *ngIf="isLoginFailed">The user name or password you entered does not match</label>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>
